
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus
 {
  color:black;
}
.navbar-fixed-top{
    background-color:steelblue;
}

.navbar-brand
{
color:black;
}
.nav-tabs{

      border-bottom: 1px solid #073642;
  background-color:aliceblue;
}
.container-fluid{
lightskyblue;
 


}
.navbar-right
{
border:solid;
}
.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color:aliceblue;
}

.regC{
    align-content:center;
}
.x
{
  animation: move 3s;  
  -webkit-animation:move 3s;

 font-variant-caps:all-petite-caps;  


  color:black;

}

@keyframes move{
    from{
        margin-left:100%;
        width: 300%;
    }
    to{
            margin-right:100%;
        width: 0%;

        float:right;
    }
}

body
{
    background-color:#232323;
margin:0;
padding:inherit;
  
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;

 
    

}
  
.wrapper{
    max-height:400px;
        background:black;
        height:40px;
        text-align:center;
         color:crimson; 

}
.feed
{
 
    white-space:nowrap;
    -webkit-animation:rightThenLeft 4s linear;
    color:crimson; 
    font-size:37px;
     font-variant-caps:all-petite-caps;
    

}
.feed:hover{
      font-size:50px;
      color:cadetblue;

}

.header
{
  animation: move 3s;  
  -webkit-animation:move 3s;

 font-variant-caps:all-petite-caps;  


  color:black;

}

@keyframes move{
    from{
        margin-left:100%;
        width: 300%;
    }
    to{
            margin-right:100%;
        width: 0%;

        float:right;
    }
}


img:hover{
  border: 6px solid  crimson;
  
}
.textFloat
{
margin-top:-10PX;
border-bottom-style:    double;
border-bottom-color:black;  
border-bottom-width:thick;
    
border-top-style:solid;
border-top-width:12px;
border-top-color:gold;
background-color:gold;  


        
}
  
   .uBlock
   {
float:left;
margin-left:12px;   
margin-top:70PX;
padding:15px;
height:150px;
width:185px;    
border:3px solid black;
background-color:indigo;   
position:relative;
align-content:center;


   }
   .landingLeft
   {
float:left;
margin-left:12px;   
margin-top:70PX;
padding:15px;
height:150px;
width:185px;    
border:3px solid black;
  background-color:gold;    

position:relative;
align-content:center;


   }
      
   .landingLeft:hover{
    border:2px solid aliceblue ;
    height:180px;
width:200px;

    background-image:url(../images/back3.jpg);

   }

 

        
.footer {
    display: block;
    margin-top: 620px;

    background-color: gold;
    text-align:center;

    border-bottom-style: double;
    border-bottom-color: black;
    border-bottom-width: thick;
    border-top-style: solid;
    border-top-width: 8px;
    border-top-color: crimson;
    background-color: gold;
    right:0;
    left:0;
    bottom:0;
    font-family:Arial;
    font-size:10px;
    font-weight:700;
    font-variant-caps:all-petite-caps;
   

}
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:aliceblue;
    overflow-x:hidden;
       overflow-y:hidden;
    padding-top: 50px;
    padding-bottom:10px;
    transition: 0.5s;
    border-bottom-color:gold;
    border-bottom:double;
    border-bottom-width:15px;
}       


.sidenav a {
        padding: 10px 10px 10px 32px;
  
    text-decoration:overline;   
    font-size: 20px;
    color:black;    
  font-weight:700;
    transition: 0.3s;
    position:center;
  
text-decoration-color:gold;


   
}

.sidenav a:hover, .offcanvas a:focus
{
    color:gold;
    text-decoration-color:black;    
}

.sidenav .closebtn {
    position:inherit;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.openNav{
    width:100%;
    height650px;    
    background-color:gold   ;
 border-top:solid;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

 carousel{
     position:inherit;
 }

