@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<br/>
<br /><br /><br /><br /><br /><br />

<div class="jumbotron" align ="center">

<h2 class="text-danger">Sorry!!!</h2>
    <h1 class="text-danger"> Page Not Found </h1>

    </div>


