@{
    ViewBag.Title = "Home Page";
}





    





<br />
  <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
 

    </div>

    <div align="center" class="openNav" ><span  onclick="openNav()"><div class="jumbotron">
                <a href="#" class=" btn-primary btn-group-lg btn-block"><span class="glyphicon  glyphicon-th-large"></span></a>
            </div></span></div>
    <br/>
<div class="uBlock">
    <h2 align="center">Website Design</h2>
    <p>        <img src="images/back.jpg" width="150" height="120" position="relative" /></p>
    <p></p>
</div>  <div class="uBlock">
    <h2 align="center">Website Hosting</h2>
            <p>        <img src="images/back.jpg" width="150" height="120" position="relative" /></p>
    <p> </p>
</div>
<div class="uBlock">
    <h2 align="center">Graphic Design</h2>
    <p>        <img src="images/back.jpg" width="150" height="120" position="relative" /></p>
    <p></p>
</div>
<div class="uBlock">
    <h2 align="center">Video Editing</h2>

    <p>        <img src="images/back.jpg" width="150" height="120" position="relative" /></p>
    <p></p>
</div>

<div class="uBlock">
    <h2 align="center">Software Development</h2>
    <p>        <img src="images/back.jpg" width="150" height="120" position="relative" /></p>
    <p></p>
</div>

<div class="landingLeft">
    <h2 align="center">Website Design</h2>
    <p> </p>
    <p></p>
</div>

<div class="landingLeft">
    <h2 align="center">Website Design</h2>
    <p> </p>
    <p></p>
</div>

<div class="landingLeft">
    <h2 align="center">Website Design</h2>
    <p> </p>
    <p></p>
</div>

<div class="landingLeft">
    <h2 align="center">Website Design</h2>
    <p> </p>
    <p></p>
</div>

<div class="landingLeft">
    <h2 align="center">Website Design</h2>
    <p> </p>
    <p></p>
</div>  