@{
    ViewBag.Title = "Home Page";
}





    
<script src="js/navScript.js"></script>




    <br /><br />
    <br />

    <div id="mySidenav" class="sidenav">
        <div><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></div>

        <p>Any Links</p>
    </div>

    <div align="center" class="openNav">
        <span onclick="openNav()"> <div class="jumbotron">
                <a href="#" class=" btn-primary btn-group-lg btn-block"><span class="glyphicon  glyphicon-th-large"></span></a>
            </div>
        </span>
    </div>
    <br />
<div>
    <div class="uBlock">
        <h2 align="center"><a href="~/Manage/Index.cshtml"> Profile </a></h2>
        <br />

    <a  > </a>

        <p>        <img src="~/images/img2.jpg"  width="150" height="120" position="relative"   /></p>

    </div> <div class="uBlock">
        <h2 align="center">Profile</h2>
        <br />



        <p>        <img src="~/images/nnn.jpg" width="150" height="120" position="relative" /></p>

    </div>
    <div class="uBlock">
        <h2 align="center">Repairs</h2>
        <br />



        <p>        <img src="~/images/img3.jpg" width="150" height="120" position="relative" /></p>

    </div>
    <div class="uBlock">
        <h2 align="center">Store</h2>
        <br />



        <p>        <img src="~/images/images.jpg" width="150" height="120" position="relative" /></p>

    </div>

    <div class="uBlock">
        <h2 align="center">Profile</h2>
        <br />



        <p>        <img src="~/images/index.jpg" width="150" height="120" position="relative" /></p>

    </div>

    <div class="landingLeft">
        <h2 align="center"></h2>
        <p> </p>
        <p></p>
    </div>

    <div class="landingLeft">
        <h2 align="center"></h2>
        <p> </p>
        <p></p>
    </div>

    <div class="landingLeft">
        <h2 align="center"></h2>
        <p> </p>
        <p></p>
    </div>

    <div class="landingLeft">
        <h2 align="center"></h2>
        <p> </p>
        <p></p>
    </div>

    <div class="landingLeft">
        <h2 align="center"></h2>
        <p> </p>
        <p></p>
    </div>
</div>